.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 30px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}
.btn-primary {
    color: #fff;
    background: #ee3643;
    &:hover {
        background: #ca2c37;
    }
    &:active {
        background: #ba2732;
    }
}