.btn {
    @extend %inlineBlockMiddle;
    padding: 10px 30px;
    font-size: $base-font-size;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}
.btn-primary {
    color: #fff;
    background: $primary-color;
    &:hover {
        background: #ca2c37;
    }
    &:active {
        background: #ba2732;
    }
}