.icon {
    background-image: url($path-spritesheet);
    background-repeat: no-repeat;
}

.icon-search {
    width: 17px;
    height: 17px;
    background-position: -446px -32px;
}

.icon-search-focus {
    width: 17px;
    height: 17px;
    background-position: -505px -32px;
}

