.nav {
    background: $nav-bg;
}

.nav-list {
    @extend %resetUl;
    font-size: 0;
    line-height: 1;
}

.nav-item {
    @extend %inlineBlock;
    &:first-child {
        .nav-link {
            padding-left: 55px;
        }
    }
    &:last-child {
        .nav-link {
            padding-right: 55px;
        }
    }
}

.nav-link {
    display: block;
    padding: 19px 30px;
    font-size: 17px;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    border-bottom: 5px solid $nav-border-bottom-color;
    &:hover {
        background: $nav-link-hover;
    }
    &:active {
        background: $nav-link-active;
        color: #868c95;
        border-bottom: 5px solid $nav-link-active;
    }
}