.offer-preview {
    margin-bottom: 55px;
    padding-top: 60px;
    @extend %clearfix;
}

.offer-item {
    position: relative;
    float: left;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 22px;
    &:after {
        content: " ";
        position: absolute;
        display: block;
        background-image: url($path-spritesheet);
        background-repeat: no-repeat;
    }
    &:nth-child(3n) {
        margin-right: 0;
    }
}

.offer-item-new {
    &:before {
        content: " ";
        position: absolute;
        display: block;
        background-image: url($path-spritesheet);
        background-repeat: no-repeat;
        top: 0;
        right: 0;
        width: 60px;
        height: 59px;
        background-position: -5px -276px;
    }
}

//Slider
.slider {
    position: relative;
    width: 620px;
    padding: 0;
    background: #f6b22d;
    input[type=radio] {
        display: none;
    }
}

.slide {
    display: none;
    min-height: 266px;
    padding: 22px;
}

#slide-perforators:checked ~ .slide-perforators,
#slide-drills:checked ~ .slide-drills {
    display: block;
}

.slider-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 40px;
    margin-top: -20px;
}
.slide-prev,
.slide-next {
    position: absolute;
    top: 50%;
    
    display: block;
    width: 22px;
    height: 40px;
    margin-top: -20px;
    background-image: url($path-spritesheet);
    background-repeat: no-repeat;
    &:hover {
        cursor: pointer;
    }
} 
.slide-prev {
    left: 20px;
    background-position: -473px -5px;
}
.slide-next {
    right: 20px;
    background-position: -119px -32px;
}

.slider-indicators {
    position: absolute;
    bottom: 35px;
    left: 50%;
    width: 100px;
    height: 12px;
    margin-left: -50px;
    font-size: 0;
    text-align: center;
    z-index: 1000;
}

.slider-indicator {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
}

#slide-perforators:checked ~ .slider-indicators label[for="slide-perforators"],
#slide-drills:checked ~ .slider-indicators label[for="slide-drills"] {
    background: #ee3643;
}
.slide-perforators {
    background: url("/pic/perforators.jpg") no-repeat;
}
.slide-drills {
    background: url("/pic/drills.jpg") no-repeat;
}
.slide-title {
    margin: 0 0 10px;
    font-family: $font-family-cuprum-bold;
    font-size: 36px;
    line-height: 1;
    color:#fff;
    text-transform: uppercase;
}
.slide-text {
    margin: 0 0 114px;
    font-family: $font-family-ptsans;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.slide-link {
    min-width: 195px;
}

//
.offer-item-discount,
.offer-item-delivery {
    float: right;
    margin-right: 0;
}

.offer-item-materials {
    background: #f6b22d;
    &:after {
        top: 27px;
        right: 42px;
        width: 44px;
        height: 65px;
        background-position: -36px -32px;
    }
}

.offer-item-tools {
    background: #4aafde;
    &:after {
        top: 33px;
        right: 26px;
        width: 75px;
        height: 61px;
        background-position: -90px -104px;
    }
}

.offer-item-technic {
    background: #cc79d1;
    &:after {
        top: 30px;
        right: 30px;
        width: 78px;
        height: 62px;
        background-position: -559px -32px;
    }
}

.offer-item-discount {
    background: #85d179;
    &:after {
        top: 26px;
        right: 44px;
        width: 59px;
        height: 72px;
        background-position: -357px -5px;
    }
}

.offer-item-delivery {
    background: #f6b22d;
    &:after {
        top: 32px;
        right: 30px;
        width: 78px;
        height: 63px;
        background-position: -269px -5px;
    }
}

.offer-title {
    margin-bottom: 11px;
    font-family: $font-family-cuprum-bold;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.offer-link {
    display: inline-block;
    padding: 10px 24px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background: rgba(80, 80, 80, .2);
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        background: rgba(80, 80, 80, .3);
    }
    &:active {
        background: rgba(80, 80, 80, .4);
    }
}