.offer-preview {
    margin-bottom: 55px;
    padding-top: 60px;
}

.offer-item {
    width: 300px;
    margin-right: 20px;
}
.offer-item-materials {
    background: #f6b22d;
}
.offer-item-tools {
    background: #4aafde;
}
.offer-item-technic {
    background: #cc79d1;
}
.offer-item-discount {
    background: #85d179;
}
.offer-item-delivery {
    background: #f6b22d;
}