//Topbar and its components
.topbar {
    min-height: 42px;
    background: $topbar-bg;
}

.logo-link,
.searchbar,
.bookmark-link,
.basket-link,
.order-link {
    float: left;
}

.logo-link {
    display: block;
    width: 220px;
}

.searchbar {
    width: 270px;
}

.bookmark-link,
.basket-link,
.order-link {
    display: block;
    width: 150px;
}

//Navbar and its components
.navbar {
    padding-bottom: 60px;
    background: $navbar-bg;
}

.navbar-container {
    @extend %clearfix;
}

.nav {
    background: $nav-bg;
}

.page-heading,
.contacts-info,
.account {
    float: left;
}

.page-heading,
.account {
    width: 300px;
}

.contacts-info {
    width: 340px;
}

.nav-list {
    @extend %resetUl;
}

.nav-item {
    @extend %inlineBlock;
}

.nav-link {
    display: block;
    color: #fff;
}