.navbar {
    padding-top: 45px;
    padding-bottom: 60px;
    background: $navbar-bg;
}

.navbar-container {
    margin-bottom: 40px;
    @extend %clearfix;
}

.page-heading,
.contacts-info,
.account {
    float: left;
}

.page-heading {
    width: $page-heading-width;
}

.contacts-info {
    width: $contacts-info-width;
    margin-right: 50px;
    text-align: center;
}

.page-title {
    width: $page-title-width;
    margin: 0 auto;
    font-family: $font-family-cuprum-italic;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    color: $primary-color;
}

.contacts-info-tel {
    position: relative;
    padding: 9px;
    font-size: 21px;
    line-height: 1;
    color: #e9292a;
    border: 3px solid #fff;
    &:before {
        content: " ";
        position: absolute;
        top: 9px;
        left: 13px;
        background-image: url($path-spritesheet);
        background-repeat: no-repeat;
        width: 19px;
        height: 19px;
        background-position: -90px -32px;
    }
}

.contacts-info-address {
    font-size: $base-font-size;
    line-height: 24px;
    color: #32425c;
}

.account {
    width: $account-width;
    font-size: 0;
    text-align: right;
}

.sign-link {
    @extend %inlineBlockMiddle;
    margin-right: 10px;
    padding: 9px 25px;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-decoration: none;
    text-align: center;
    background: #fff;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        color: $primary-color;
    }
    &:active {
        color: #b2b2b2;
    }
}

.sign-in-link {
    position: relative;
    padding-left: 48px;
    &:before {
        content: " ";
        position: absolute;
        top: 10px;
        left: 15px;
        background-image: url($path-spritesheet);
        background-repeat: no-repeat;
        width: 20px;
        height: 17px;
        background-position: -505px -5px;
    }
    &:hover:before {
        background-position: -565px -5px;
    }
    &:active:before {
        background-position: -535px -5px;
    }
}