//Topbar and its components
.topbar {
    min-height: 42px;
    background: $topbar-bg;
}

.logo-link,
.searchbar,
.bookmark-link,
.basket-link,
.order-link {
    float: left;
}

.logo-link {
    display: block;
    width: 220px;
    padding: 9px 0;
    font-size: 24px;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $logo-link-bg;
    color: #fff;
    box-shadow: 0 5px 0 0 #b52933;
    &:hover {
        background-color: $logo-link-bg-hover;
    }
    &:active {
        background-color: $logo-link-bg-active;
    }
}

.searchbar {
    position: relative;
    width: 270px;
    background: transparent;
    .icon-search {
        position: absolute;
        top: 12px;
        left: 17px;
        background-image: url($path-spritesheet);
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        background-position: -446px -32px;
    }
    &:hover {
        background: $topbar-bg-hover;
        .icon-search {
            width: 17px;
            height: 17px;
            background-position: -532px -32px;
        }
    }
}

.searchbar-control {
    display: block;
    width: 100%;
    padding: 12px 30px 12px 49px;
    font-family: $base-font-family;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    border: none;
    background: transparent;
    color: #fff;
    @include placeholder-color(#fff);
    &:focus {
        outline: none;
        background: #fff;
        color: #000;
    }
    &:focus+.icon-search {
        width: 17px;
        height: 17px;
        background-position: -505px -32px;
    }
}

.bookmark-link,
.basket-link,
.order-link {
    display: block;
    width: 150px;
    font-family: $base-font-family;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    text-decoration: none;
}

.bookmark-link,
.basket-link {
    position: relative;
    padding: 12px 20px 12px 0;
    &:before {
        content: " ";
        position: absolute;
        top: 12px;
        left: 17px;
        background-image: url($path-spritesheet);
        background-repeat: no-repeat;
    }
    &:hover {
        background: $topbar-bg-hover;
    }
    &:active {
        background: $topbar-bg-active;
    }
}

.bookmark-link {
    padding-left: 45px;
    &:before {
        width: 14px;
        height: 16px;
        background-position: -86px -5px;
    }
    &:hover:before {
        background-position: -134px -5px;
    }
    &:active:before {
        background-position: -110px -5px;
    }
}

.basket-link {
    padding-left: 50px;
    &:before {
        width: 17px;
        height: 16px;
        background-position: -5px -5px;
    }
    &:hover:before {
        background-position: -59px -5px;
    }
    &:active:before {
        background-position: -32px -5px;
    }
}

.order-link {
    padding: 12px 10px;
    background: #63a63e;
    text-align: center;
    &:hover {
        background: #5fbb2d;
    }
    &:active {
        background: #518534;
        color: #aac39b;
    }
}