// ========================================
//    Color scheme
// ========================================
$bg-color: #fff;
$topbar-bg: #293449;
$topbar-bg-hover: #212a3a;
$topbar-bg-active: #161d29;
$navbar-bg: #f1f5f7;
$nav-bg: #32425c;
$navbar-bottom-bg: $nav-bg;
$nav-border-bottom-color: #293449;
$nav-link-hover: #293449;
$nav-link-active: #1d2739;
$page-footer-container-bg: $topbar-bg;
$services-bg: #f2f6f8;
$logo-link-bg: #ee3643;
$logo-link-bg-hover: #ca2c37;
$logo-link-bg-active: #ba2732;


// ========================================
//    Typography
// ========================================
$font-family-cuprum: 'Cuprum Regular', Arial, sans-serif;
$font-family-cuprum-bold: 'Cuprum Bold', Arial, sans-serif;
$font-family-cuprum-bolditalic: 'Cuprum Bold Italic', Arial, sans-serif;
$font-family-cuprum-italic: 'Cuprum Italic', Arial, sans-serif;
$font-family-ptsans: 'PT Sans', Arial, sans-serif;
$font-family-ptsans-bold: 'PT Sans Bold', Arial, sans-serif;

$base-font-path: '../fonts';
$base-font-family: $font-family-cuprum;
$base-font-size: 14px;
$base-line-height: 24px;
$base-text-color: #000;

// ========================================
//    Box Model
// ========================================
$center-container-width: 960px;
$social-link-size: 40px;


//
$path-spritesheet: "/img/spritesheet.png";