.center-container:before, .navbar-container:before, .offer-preview:before, .catalog-preview-header:before, .center-container:after, .navbar-container:after, .offer-preview:after, .catalog-preview-header:after {
  content: " ";
  display: table;
}
.center-container:after, .navbar-container:after, .offer-preview:after, .catalog-preview-header:after {
  clear: both;
}

.nav-list, .nav-bottom,
.category-links, .social-links, .services-list, .company-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.nav-item, .nav-bottom-item,
.category-item, .social-item, .catalog-item, .services-list, #service-delivery:checked ~ .services-item-delivery,
#service-garantee:checked ~ .services-item-garantee,
#service-credit:checked ~ .services-item-credit {
  display: inline-block;
  vertical-align: top;
}

.btn, .sign-link, .catalog-preview-manufactures .catalog-item-img {
  display: inline-block;
  vertical-align: middle;
}

.social-link {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@font-face {
  font-family: 'Cuprum Regular';
  src: url("../fonts/cuprum-webfont.eot");
  src: url("../fonts/cuprum-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cuprum-webfont.woff2") format("woff2"), url("../fonts/cuprum-webfont.woff") format("woff"), url("../fonts/cuprum-webfont.ttf") format("truetype"), url("../fonts/cuprum-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum Bold';
  src: url("../fonts/cuprumbold-webfont.eot");
  src: url("../fonts/cuprumbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cuprumbold-webfont.woff2") format("woff2"), url("../fonts/cuprumbold-webfont.woff") format("woff"), url("../fonts/cuprumbold-webfont.ttf") format("truetype"), url("../fonts/cuprumbold-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum Bold Italic';
  src: url("../fonts/cuprumbolditalic-webfont.eot");
  src: url("../fonts/cuprumbolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cuprumbolditalic-webfont.woff2") format("woff2"), url("../fonts/cuprumbolditalic-webfont.woff") format("woff"), url("../fonts/cuprumbolditalic-webfont.ttf") format("truetype"), url("../fonts/cuprumbolditalic-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum Italic';
  src: url("../fonts/cuprumitalic-webfont.eot");
  src: url("../fonts/cuprumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cuprumitalic-webfont.woff2") format("woff2"), url("../fonts/cuprumitalic-webfont.woff") format("woff"), url("../fonts/cuprumitalic-webfont.ttf") format("truetype"), url("../fonts/cuprumitalic-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/ptsans-webfont.eot");
  src: url("../fonts/ptsans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans-webfont.woff2") format("woff2"), url("../fonts/ptsans-webfont.woff") format("woff"), url("../fonts/ptsans-webfont.ttf") format("truetype"), url("../fonts/ptsans-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url("../fonts/ptsansbold-webfont.eot");
  src: url("../fonts/ptsansbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsansbold-webfont.woff2") format("woff2"), url("../fonts/ptsansbold-webfont.woff") format("woff"), url("../fonts/ptsansbold-webfont.ttf") format("truetype"), url("../fonts/ptsansbold-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
}

.icon-search {
  width: 17px;
  height: 17px;
  background-position: -446px -32px;
}

.icon-search-focus {
  width: 17px;
  height: 17px;
  background-position: -505px -32px;
}

.btn {
  padding: 10px 30px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background: #ee3643;
}
.btn-primary:hover {
  background: #ca2c37;
}
.btn-primary:active {
  background: #ba2732;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Cuprum Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background: #fff;
}

.center-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.topbar {
  background: #293449;
}

.logo-link,
.searchbar,
.bookmark-link,
.basket-link,
.order-link {
  float: left;
}

.logo-link {
  display: block;
  width: 220px;
  padding: 9px 0;
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
  color: #fff;
  box-shadow: 0 5px 0 0 #b52933;
}
.logo-link:hover {
  background-color: #ca2c37;
}
.logo-link:active {
  background-color: #ba2732;
}

.searchbar {
  position: relative;
  width: 270px;
  background: transparent;
}
.searchbar .icon-search {
  position: absolute;
  top: 12px;
  left: 17px;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -446px -32px;
}
.searchbar:hover {
  background: #212a3a;
}
.searchbar:hover .icon-search {
  width: 17px;
  height: 17px;
  background-position: -532px -32px;
}

.searchbar-control {
  display: block;
  width: 100%;
  padding: 12px 30px 12px 49px;
  font-family: "Cuprum Regular", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  border: none;
  background: transparent;
  color: #fff;
}
.searchbar-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
.searchbar-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.searchbar-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
.searchbar-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.searchbar-control:focus {
  outline: none;
  background: #fff;
  color: #000;
}
.searchbar-control:focus + .icon-search {
  width: 17px;
  height: 17px;
  background-position: -505px -32px;
}

.bookmark-link,
.basket-link,
.order-link {
  display: block;
  width: 150px;
  font-family: "Cuprum Regular", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  text-decoration: none;
}

.bookmark-link,
.basket-link {
  position: relative;
  padding: 12px 20px 12px 0;
}
.bookmark-link:before,
.basket-link:before {
  content: " ";
  position: absolute;
  top: 12px;
  left: 17px;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
}
.bookmark-link:hover,
.basket-link:hover {
  background: #212a3a;
}
.bookmark-link:active,
.basket-link:active {
  background: #161d29;
}

.bookmark-link {
  padding-left: 45px;
}
.bookmark-link:before {
  width: 14px;
  height: 16px;
  background-position: -86px -5px;
}
.bookmark-link:hover:before {
  background-position: -134px -5px;
}
.bookmark-link:active:before {
  background-position: -110px -5px;
}

.basket-link {
  padding-left: 50px;
}
.basket-link:before {
  width: 17px;
  height: 16px;
  background-position: -5px -5px;
}
.basket-link:hover:before {
  background-position: -59px -5px;
}
.basket-link:active:before {
  background-position: -32px -5px;
}

.order-link {
  padding: 12px 10px;
  background: #63a63e;
  text-align: center;
}
.order-link:hover {
  background: #5fbb2d;
}
.order-link:active {
  background: #518534;
  color: #aac39b;
}

.navbar {
  padding-top: 45px;
  padding-bottom: 60px;
  background: #f1f5f7;
}

.navbar-container {
  margin-bottom: 40px;
}

.page-heading,
.contacts-info,
.account {
  float: left;
}

.page-heading {
  width: 320px;
}

.contacts-info {
  width: 270px;
  margin-right: 50px;
  text-align: center;
}

.page-title {
  width: 200px;
  margin: 0 auto;
  font-family: "Cuprum Italic", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.contacts-info-tel {
  position: relative;
  padding: 9px;
  font-size: 21px;
  line-height: 1;
  color: #e9292a;
  border: 3px solid #fff;
}
.contacts-info-tel:before {
  content: " ";
  position: absolute;
  top: 9px;
  left: 13px;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  background-position: -90px -32px;
}

.contacts-info-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.account {
  width: 300px;
  font-size: 0;
  text-align: right;
}

.sign-link {
  margin-right: 10px;
  padding: 9px 25px;
  font-size: 21px;
  line-height: 1;
  color: #000;
  text-decoration: none;
  text-align: center;
  background: #fff;
}
.sign-link:last-child {
  margin-right: 0;
}
.sign-link:hover {
  color: #ee3643;
}
.sign-link:active {
  color: #b2b2b2;
}

.sign-in-link {
  position: relative;
  padding-left: 48px;
}
.sign-in-link:before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 15px;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 17px;
  background-position: -505px -5px;
}
.sign-in-link:hover:before {
  background-position: -565px -5px;
}
.sign-in-link:active:before {
  background-position: -535px -5px;
}

.nav {
  background: #32425c;
}

.nav-list {
  font-size: 0;
  line-height: 1;
}

.nav-item:first-child .nav-link {
  padding-left: 55px;
}
.nav-item:last-child .nav-link {
  padding-right: 55px;
}

.nav-link {
  display: block;
  padding: 19px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  border-bottom: 5px solid #293449;
}
.nav-link:hover {
  background: #293449;
}
.nav-link:active {
  background: #1d2739;
  color: #868c95;
  border-bottom: 5px solid #1d2739;
}

.navbar-bottom {
  background-color: #32425c;
}

.navbar-bottom-left {
  float: left;
  margin-bottom: 50px;
}
.navbar-bottom-left .logo-link {
  float: none;
  margin-bottom: 35px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 30px;
  line-height: 30px;
}

.navbar-bottom-nav {
  float: right;
  padding-top: 36px;
}

.contacts-info-bottom {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.nav-bottom,
.category-links {
  font-size: 0;
  text-align: right;
}

.nav-bottom {
  margin-bottom: 38px;
}

.nav-bottom-item,
.category-item {
  margin-left: 60px;
}
.nav-bottom-item:first-child,
.category-item:first-child {
  margin-left: 0;
}

.nav-bottom-link,
.category-link {
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}
.nav-bottom-link:hover,
.category-link:hover {
  text-decoration: underline;
}
.nav-bottom-link:active,
.category-link:active {
  opacity: .5;
  text-decoration: none;
}

.nav-bottom-link {
  color: #f1f5f7;
}

.category-link {
  color: #ffd180;
}

.page-footer-container {
  padding-top: 36px;
  padding-bottom: 31px;
  background-color: #293449;
}

.copyright,
.social-links,
.feedback {
  float: left;
}

.copyright {
  width: 240px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
.copyright p {
  margin: 0;
}

.social-links {
  width: 400px;
  font-size: 0;
  text-align: center;
}

.social-item {
  margin-right: 5px;
}
.social-item:last-child {
  margin-right: 0;
}

.social-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}
.social-link:after {
  content: " ";
  position: absolute;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
}
.social-link:hover, .social-link:active {
  background-color: #ee3643;
}

.social-link-vk:after {
  left: 10px;
  top: 14px;
  width: 20px;
  height: 12px;
  background-position: -235px -104px;
}

.social-link-fsb:after {
  left: 15px;
  top: 10px;
  width: 10px;
  height: 18px;
  background-position: -426px -5px;
}

.social-link-inst:after {
  left: 12px;
  top: 10px;
  width: 17px;
  height: 17px;
  background-position: -446px -5px;
}

.feedback {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
.feedback + .feedback {
  margin-left: 50px;
}

.feedback-link {
  display: block;
  color: #ffd180;
  text-decoration: none;
}
.feedback-link:hover {
  text-decoration: underline;
}
.feedback-link:active {
  color: #ee3643;
  text-decoration: none;
}

.offer-preview {
  margin-bottom: 55px;
  padding-top: 60px;
}

.offer-item {
  position: relative;
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 22px;
}
.offer-item:after {
  content: " ";
  position: absolute;
  display: block;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
}
.offer-item:nth-child(3n) {
  margin-right: 0;
}

.offer-item-new:before {
  content: " ";
  position: absolute;
  display: block;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background-position: -5px -276px;
}

.slider {
  position: relative;
  width: 620px;
  padding: 0;
  background: #f6b22d;
}
.slider input[type=radio] {
  display: none;
}

.slide {
  display: none;
  min-height: 266px;
  padding: 22px;
}

#slide-perforators:checked ~ .slide-perforators,
#slide-drills:checked ~ .slide-drills {
  display: block;
}

.slider-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 40px;
  margin-top: -20px;
}

.slide-prev,
.slide-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 22px;
  height: 40px;
  margin-top: -20px;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
}
.slide-prev:hover,
.slide-next:hover {
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-position: -473px -5px;
}

.slide-next {
  right: 20px;
  background-position: -119px -32px;
}

.slider-indicators {
  position: absolute;
  bottom: 35px;
  left: 50%;
  width: 100px;
  height: 12px;
  margin-left: -50px;
  font-size: 0;
  text-align: center;
  z-index: 1000;
}

.slider-indicator {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-indicator:last-child {
  margin-right: 0;
}

#slide-perforators:checked ~ .slider-indicators label[for="slide-perforators"],
#slide-drills:checked ~ .slider-indicators label[for="slide-drills"] {
  background: #ee3643;
}

.slide-perforators {
  background: url("/pic/perforators.jpg") no-repeat;
}

.slide-drills {
  background: url("/pic/drills.jpg") no-repeat;
}

.slide-title {
  margin: 0 0 10px;
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.slide-text {
  margin: 0 0 114px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.slide-link {
  min-width: 195px;
}

.offer-item-discount,
.offer-item-delivery {
  float: right;
  margin-right: 0;
}

.offer-item-materials {
  background: #f6b22d;
}
.offer-item-materials:after {
  top: 27px;
  right: 42px;
  width: 44px;
  height: 65px;
  background-position: -36px -32px;
}

.offer-item-tools {
  background: #4aafde;
}
.offer-item-tools:after {
  top: 33px;
  right: 26px;
  width: 75px;
  height: 61px;
  background-position: -90px -104px;
}

.offer-item-technic {
  background: #cc79d1;
}
.offer-item-technic:after {
  top: 30px;
  right: 30px;
  width: 78px;
  height: 62px;
  background-position: -559px -32px;
}

.offer-item-discount {
  background: #85d179;
}
.offer-item-discount:after {
  top: 26px;
  right: 44px;
  width: 59px;
  height: 72px;
  background-position: -357px -5px;
}

.offer-item-delivery {
  background: #f6b22d;
}
.offer-item-delivery:after {
  top: 32px;
  right: 30px;
  width: 78px;
  height: 63px;
  background-position: -269px -5px;
}

.offer-title {
  margin-bottom: 11px;
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

.offer-link {
  display: inline-block;
  padding: 10px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background: rgba(80, 80, 80, 0.2);
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}
.offer-link:hover {
  background: rgba(80, 80, 80, 0.3);
}
.offer-link:active {
  background: rgba(80, 80, 80, 0.4);
}

.catalog-preview {
  margin-bottom: 60px;
}

.catalog-preview-header {
  margin-bottom: 20px;
  padding: 29px 30px;
  background-color: #f7f3ec;
}
.catalog-preview-header .btn {
  float: right;
  width: 254px;
}

.catalog-preview-title {
  float: left;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-preview-goods,
.catalog-preview-manufactures {
  font-size: 0;
}

.catalog-item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #e5e5e5;
}
.catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog-item:hover {
  cursor: pointer;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
}
.catalog-item:hover .catalog-item-preview {
  display: none;
}
.catalog-item:hover .catalog-item-actions {
  display: block;
  height: 168px;
  margin-bottom: 5px;
  padding-top: 45px;
  background: #fff;
}

.catalog-item-new {
  position: relative;
}
.catalog-item-new:after {
  content: " ";
  position: absolute;
  display: block;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background-position: -5px -276px;
}

.catalog-item-actions {
  display: none;
}

.catalog-item-preview {
  height: 168px;
  margin-bottom: 5px;
}

.catalog-item-img {
  width: 100%;
}

.catalog-item-desc {
  padding: 0 20px 20px;
}

.catalog-item-title {
  margin-bottom: 15px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item-discount {
  display: block;
  min-height: 18px;
  margin-bottom: 12px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #999;
  text-decoration: line-through;
}

.catalog-item-price {
  position: relative;
  display: inline-block;
  width: 122px;
  padding: 10px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background: #ee3643;
}
.catalog-item-price:after {
  content: " ";
  position: absolute;
  display: inline-block;
  top: 0;
  right: -18px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px 0 19px 18px;
  border-color: transparent transparent transparent #ee3643;
}

.catalog-link-buy {
  position: relative;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 11px 20px 10px 30px;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  background: #63a63e;
  border-radius: 4px;
  border-bottom: 3px solid #367315;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog-link-buy:before {
  content: " ";
  position: absolute;
  top: 7px;
  left: 13px;
  width: 17px;
  height: 16px;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
}
.catalog-link-buy:hover {
  background: #5fbb2d;
}
.catalog-link-buy:active {
  background: #518534;
  border-bottom-color: #518534;
}
.catalog-link-buy:hover:before {
  background-position: -59px -5px;
}
.catalog-link-buy:active:before {
  background-position: -59px -5px;
}

.catalog-link-bookmark {
  position: relative;
  display: block;
  width: 135px;
  margin: 0 auto;
  padding: 9px;
  font-size: 14px;
  line-height: 1;
  color: #32425c;
  background: #fff;
  border-radius: 4px;
  border: 3px solid #63a63e;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog-link-bookmark:hover {
  border-color: #32425c;
}
.catalog-link-bookmark:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.catalog-preview-manufactures .catalog-item {
  height: 145px;
  line-height: 145px;
}
.catalog-preview-manufactures .catalog-item:active {
  opacity: .3;
}
.catalog-preview-manufactures .catalog-item-img {
  width: auto;
  margin: 0 auto;
}

.services {
  padding: 70px 0 100px;
  background-color: #f2f6f8;
  font-family: "Cuprum Bold", Arial, sans-serif;
  overflow: hidden;
}
.services p {
  margin: 0;
}

.services-desc {
  margin-bottom: 70px;
}

.services-title,
.services-item-title {
  margin: 0 0 30px;
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.service-items input[type=radio] {
  display: none;
}

.services-list {
  position: relative;
  width: 240px;
  margin-right: 75px;
}
.services-list:after {
  content: " ";
  position: absolute;
  top: -48px;
  right: 0;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 279px;
  background-position: -75px -276px;
}

.services-list-item:last-child .services-link {
  border-bottom: none;
}

.services-link {
  display: block;
  padding: 15px 20px;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
  background: #32425c;
  border-bottom: 1px solid #293449;
}
.services-link:hover, .services-link:active {
  background: #293449;
}

#service-delivery:checked ~ .services-list .services-list-item-delivery .services-link,
#service-delivery:checked ~ .services-list .services-list-item-delivery .services-link:hover,
#service-delivery:checked ~ .services-list .services-list-item-delivery .services-link:active,
#service-garantee:checked ~ .services-list .services-list-item-garantee .services-link,
#service-garantee:checked ~ .services-list .services-list-item-garantee .services-link:hover,
#service-garantee:checked ~ .services-list .services-list-item-garantee .services-link:active,
#service-credit:checked ~ .services-list .services-list-item-credit .services-link,
#service-credit:checked ~ .services-list .services-list-item-credit .services-link:hover,
#service-credit:checked ~ .services-list .services-list-item-credit .services-link:active {
  color: #32425c;
  background: #fff;
}

.services-item {
  display: none;
  width: calc(100% - 320px);
  position: relative;
}
.services-item:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
  z-index: 5;
}

.services-item-delivery:after {
  width: 468px;
  height: 261px;
  background-position: -657px -5px;
}
.services-item-delivery .services-item-text {
  max-width: 290px;
}

.services-item-garantee:after {
  width: 389px;
  height: 283px;
  background-position: -650px -276px;
}
.services-item-garantee .services-item-text {
  max-width: 380px;
}

.services-item-credit:after {
  width: 465px;
  height: 285px;
  background-position: -175px -132px;
}
.services-item-credit .services-item-text:last-of-type {
  margin-bottom: 25px;
}
.services-item-credit .btn {
  min-width: 195px;
}

.services-item-title {
  color: #32425c;
}

.services-item-text {
  position: relative;
  z-index: 10;
}

.company {
  padding: 80px;
  font-family: "Cuprum Bold", Arial, sans-serif;
}
.company p {
  margin: 0;
}

.company-info {
  float: left;
  width: 540px;
  margin-right: 100px;
}
.company-info .company-desc {
  margin-bottom: 30px;
}
.company-info .btn {
  width: 220px;
}

.contacts {
  float: left;
  width: 300px;
}
.contacts .btn {
  width: 100%;
}
.contacts .contacts-desc {
  margin-bottom: 27px;
}

.company-title,
.contacts-title {
  margin: 0 0 30px;
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.company-list {
  margin-top: 25px;
  margin-bottom: 35px;
}
.company-list li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 1;
}
.company-list li:last-child {
  margin-bottom: 0;
}
.company-list li:before {
  content: " ";
  position: absolute;
  width: 25px;
  top: 6px;
  left: 0;
  border-bottom: 2px solid #fb565a;
  z-index: 1;
}

.map {
  width: 300px;
  height: 160px;
  margin-bottom: 40px;
  background: url("/pic/map.jpg") no-repeat;
}
