.center-container:before, .navbar-container:before, .catalog-preview-header:before, .center-container:after, .navbar-container:after, .catalog-preview-header:after {
  content: " ";
  display: table;
}
.center-container:after, .navbar-container:after, .catalog-preview-header:after {
  clear: both;
}

.nav-list, .nav-bottom,
.category-links, .social-links {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.nav-bottom-item,
.category-item, .social-item, .catalog-item {
  display: inline-block;
  vertical-align: top;
}

.social-link {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@font-face {
  font-family: 'Cuprum Regular';
  src: url("../fonts/cuprum-webfont.eot");
  src: url("../fonts/cuprum-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cuprum-webfont.woff2") format("woff2"), url("../fonts/cuprum-webfont.woff") format("woff"), url("../fonts/cuprum-webfont.ttf") format("truetype"), url("../fonts/cuprum-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum Bold';
  src: url("../fonts/cuprumbold-webfont.eot");
  src: url("../fonts/cuprumbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cuprumbold-webfont.woff2") format("woff2"), url("../fonts/cuprumbold-webfont.woff") format("woff"), url("../fonts/cuprumbold-webfont.ttf") format("truetype"), url("../fonts/cuprumbold-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum Bold Italic';
  src: url("../fonts/cuprumbolditalic-webfont.eot");
  src: url("../fonts/cuprumbolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cuprumbolditalic-webfont.woff2") format("woff2"), url("../fonts/cuprumbolditalic-webfont.woff") format("woff"), url("../fonts/cuprumbolditalic-webfont.ttf") format("truetype"), url("../fonts/cuprumbolditalic-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum Italic';
  src: url("../fonts/cuprumitalic-webfont.eot");
  src: url("../fonts/cuprumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cuprumitalic-webfont.woff2") format("woff2"), url("../fonts/cuprumitalic-webfont.woff") format("woff"), url("../fonts/cuprumitalic-webfont.ttf") format("truetype"), url("../fonts/cuprumitalic-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/ptsans-webfont.eot");
  src: url("../fonts/ptsans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans-webfont.woff2") format("woff2"), url("../fonts/ptsans-webfont.woff") format("woff"), url("../fonts/ptsans-webfont.ttf") format("truetype"), url("../fonts/ptsans-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url("../fonts/ptsansbold-webfont.eot");
  src: url("../fonts/ptsansbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsansbold-webfont.woff2") format("woff2"), url("../fonts/ptsansbold-webfont.woff") format("woff"), url("../fonts/ptsansbold-webfont.ttf") format("truetype"), url("../fonts/ptsansbold-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  background-image: url(/img/spritesheet.png);
  background-repeat: no-repeat;
}

.icon-search {
  width: 17px;
  height: 17px;
  background-position: -446px -32px;
}

.icon-search-focus {
  width: 17px;
  height: 17px;
  background-position: -505px -32px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Cuprum Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background: #fff;
}

.center-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.navbar {
  padding-top: 45px;
  padding-bottom: 60px;
  background: #f1f5f7;
}

.navbar-container {
  margin-bottom: 40px;
}

.page-heading,
.contacts-info,
.account {
  float: left;
}

.page-heading {
  width: 320px;
}

.contacts-info {
  width: 270px;
  margin-right: 50px;
  text-align: center;
}

.page-title {
  width: 200px;
  margin: 0 auto;
  font-family: "Cuprum Italic", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.contacts-info-tel {
  position: relative;
  padding: 9px;
  font-size: 21px;
  line-height: 1;
  color: #e9292a;
  border: 3px solid #fff;
}
.contacts-info-tel:before {
  content: " ";
  position: absolute;
  top: 9px;
  left: 13px;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  background-position: -90px -32px;
}

.contacts-info-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.account {
  width: 300px;
  font-size: 0;
  text-align: right;
}

.sign-link {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  padding: 9px 25px;
  font-size: 21px;
  line-height: 1;
  color: #000;
  text-decoration: none;
  text-align: center;
  background: #fff;
}
.sign-link:last-child {
  margin-right: 0;
}
.sign-link:hover {
  color: #ee3643;
}
.sign-link:active {
  color: #b2b2b2;
}

.sign-in-link {
  position: relative;
  padding-left: 48px;
}
.sign-in-link:before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 15px;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 17px;
  background-position: -505px -5px;
}
.sign-in-link:hover:before {
  background-position: -565px -5px;
}
.sign-in-link:active:before {
  background-position: -535px -5px;
}

.topbar {
  min-height: 42px;
  background: #293449;
}

.logo-link,
.searchbar,
.bookmark-link,
.basket-link,
.order-link {
  float: left;
}

.logo-link {
  display: block;
  width: 220px;
  padding: 9px 0;
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
  color: #fff;
  box-shadow: 0 5px 0 0 #b52933;
}
.logo-link:hover {
  background-color: #ca2c37;
}
.logo-link:active {
  background-color: #ba2732;
}

.searchbar {
  position: relative;
  width: 270px;
  background: transparent;
}
.searchbar .icon-search {
  position: absolute;
  top: 12px;
  left: 17px;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -446px -32px;
}
.searchbar:hover {
  background: #212a3a;
}
.searchbar:hover .icon-search {
  width: 17px;
  height: 17px;
  background-position: -532px -32px;
}

.searchbar-control {
  display: block;
  width: 100%;
  padding: 12px 30px 12px 49px;
  font-family: "Cuprum Regular", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  border: none;
  background: transparent;
  color: #fff;
}
.searchbar-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
.searchbar-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.searchbar-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
.searchbar-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.searchbar-control:focus {
  outline: none;
  background: #fff;
  color: #000;
}
.searchbar-control:focus + .icon-search {
  width: 17px;
  height: 17px;
  background-position: -505px -32px;
}

.bookmark-link,
.basket-link,
.order-link {
  display: block;
  width: 150px;
  font-family: "Cuprum Regular", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  text-decoration: none;
}

.bookmark-link,
.basket-link {
  position: relative;
  padding: 12px 20px 12px 0;
}
.bookmark-link:before,
.basket-link:before {
  content: " ";
  position: absolute;
  top: 12px;
  left: 17px;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
}
.bookmark-link:hover,
.basket-link:hover {
  background: #212a3a;
}
.bookmark-link:active,
.basket-link:active {
  background: #161d29;
}

.bookmark-link {
  padding-left: 45px;
}
.bookmark-link:before {
  width: 14px;
  height: 16px;
  background-position: -86px -5px;
}
.bookmark-link:hover:before {
  background-position: -134px -5px;
}
.bookmark-link:active:before {
  background-position: -110px -5px;
}

.basket-link {
  padding-left: 50px;
}
.basket-link:before {
  width: 17px;
  height: 16px;
  background-position: -5px -5px;
}
.basket-link:hover:before {
  background-position: -59px -5px;
}
.basket-link:active:before {
  background-position: -32px -5px;
}

.order-link {
  padding: 12px 10px;
  background: #63a63e;
  text-align: center;
}
.order-link:hover {
  background: #5fbb2d;
}
.order-link:active {
  background: #518534;
  color: #aac39b;
}

.nav {
  background: #32425c;
}

.nav-list {
  padding: 0 19px;
  display: table;
  width: 100%;
  font-size: 0;
  line-height: 1;
  border-bottom: 5px solid #293449;
}

.nav-item {
  display: table-cell;
}

.nav-link {
  display: block;
  padding: 19px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
}
.nav-link:hover {
  background: #293449;
}
.nav-link:active {
  background: #1d2739;
  color: #868c95;
}

.navbar-bottom {
  background-color: #32425c;
}

.navbar-bottom-left {
  float: left;
  margin-bottom: 50px;
}
.navbar-bottom-left .logo-link {
  float: none;
  margin-bottom: 35px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 30px;
  line-height: 30px;
  box-shadow: 0 5px 0 0 #b52933;
}

.navbar-bottom-nav {
  float: right;
  padding-top: 36px;
}

.contacts-info-bottom {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.nav-bottom,
.category-links {
  font-size: 0;
  text-align: right;
}

.nav-bottom {
  margin-bottom: 38px;
}

.nav-bottom-item,
.category-item {
  margin-left: 60px;
}
.nav-bottom-item:first-child,
.category-item:first-child {
  margin-left: 0;
}

.nav-bottom-link,
.category-link {
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}
.nav-bottom-link:hover,
.category-link:hover {
  text-decoration: underline;
}
.nav-bottom-link:active,
.category-link:active {
  opacity: .5;
  text-decoration: none;
}

.nav-bottom-link {
  color: #f1f5f7;
}

.category-link {
  color: #ffd180;
}

.page-footer-container {
  padding-top: 36px;
  padding-bottom: 31px;
  background-color: #293449;
}

.copyright,
.social-links,
.feedback {
  float: left;
}

.copyright {
  width: 240px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
.copyright p {
  margin: 0;
}

.social-links {
  width: 400px;
  font-size: 0;
  text-align: center;
}

.social-item {
  margin-right: 5px;
}
.social-item:last-child {
  margin-right: 0;
}

.social-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}
.social-link:after {
  content: " ";
  position: absolute;
  background-image: url("/img/spritesheet.png");
  background-repeat: no-repeat;
}
.social-link:hover, .social-link:active {
  background-color: #ee3643;
}

.social-link-vk:after {
  left: 10px;
  top: 14px;
  width: 20px;
  height: 12px;
  background-position: -235px -104px;
}

.social-link-fsb:after {
  left: 15px;
  top: 10px;
  width: 10px;
  height: 18px;
  background-position: -426px -5px;
}

.social-link-inst:after {
  left: 12px;
  top: 10px;
  width: 17px;
  height: 17px;
  background-position: -446px -5px;
}

.feedback {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
.feedback + .feedback {
  margin-left: 50px;
}

.feedback-link {
  display: block;
  color: #ffd180;
  text-decoration: none;
}

.offer-preview {
  margin-bottom: 55px;
  padding-top: 60px;
}

.offer-item {
  width: 300px;
  margin-right: 20px;
}

.offer-item-materials {
  background: #f6b22d;
}

.offer-item-tools {
  background: #4aafde;
}

.offer-item-technic {
  background: #cc79d1;
}

.offer-item-discount {
  background: #85d179;
}

.offer-item-delivery {
  background: #f6b22d;
}

.catalog-preview {
  margin-bottom: 80px;
}

.catalog-preview-header {
  margin-bottom: 20px;
  background-color: #f7f3ec;
}
.catalog-preview-header .btn {
  float: right;
}

.catalog-preview-title {
  float: left;
  padding: 30px;
}

.catalog-preview-goods,
.catalog-preview-manufactures {
  font-size: 0;
}

.catalog-item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
}
.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.services {
  background-color: #f2f6f8;
}

.company-info {
  float: left;
  width: 540px;
  margin-right: 100px;
}

.contacts {
  float: left;
  width: 300px;
}
